<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="SharedTextEditorEndpointP2P"
                address="net.p2p://com.sharedtexteditor"
                binding="netPeerTcpBinding"
                bindingConfiguration="SharedTextEditorBinding"
                contract="SharedTextEditor.ISharedTextEditorP2P">
      </endpoint>
    </client>
    <bindings>
      <netPeerTcpBinding>
        <binding name="SharedTextEditorBinding" port="0">
          <resolver mode="Auto"/>
          <security mode="None"/>
        </binding>
      </netPeerTcpBinding>
    </bindings>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>